@font-face {
 font-family: 'HelveticaNeue Light';
  src: url('HelveticaNeue Light.ttf');
}
 * {cursor: none !important;}
/* a {
 	outline: none !important;
 }*/
 a:focus,
 a:hover {
 	border:none !important;
 	outline: none !important;
 	text-decoration: none !important;
 }

.black-bg{
	background-color: #000;
	color: #fff;
	font-size: 50px;
	padding: 60px;
}

.ui-button{
	background-color: #666 !important;
	border: none !important;
	color: #fff !important;
	padding: 3px !important;
	font-size: 15px !important;
	height: 50px !important;
}
   /*   .ui-dialog{
        width:400px !important;
      }*/
.ui-button:first-child{
background-color: #0077d5 !important
}
.ui-dialog-content p:nth-child(2),.ui-dialog-content div{font-weight: bolder !important}

/* For the "inset" look only */ /*html {     overflow: auto; }*/ body {
/*font-family: "HelveticaNeue Light",Helvetica Neue,Helvetica,Arial,sans-
serif;*/     /*position: absolute;*/

/*    overflow-y: scroll;
    overflow-x: hidden;*/

}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;

}
 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc;  
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #cccccc; 
}